$dark-blue: #2B3542;
$blue: rgb(90, 117, 129);
$light-blue: rgb(105, 139, 152);
$gray: rgb(179, 181, 170);
$brown: #D9CCBA;
$yellow: #F9F1C7;
$background-brown: #EFEFE1;
$white: rgb(249, 249, 242);
$sidebar-white: rgba(249, 249, 242, 0.8);
$transparent-white: rgba(249, 249, 242, 0.2);
