$dark-blue: #2B3542;
$blue: rgb(90, 117, 129);
$light-blue: #698B98;
$gray: #B3B5AA;
$brown: #D9CCBA;
$yellow: #F9F1C7;
$background-brown: #EFEFE1;
$white: #F9F9F2;
$sidebar-white: rgba(249, 249, 242, 0.8);
$transparent-white: rgba(249, 249, 242, 0.2);
