@import './_colors.scss';

.about--brown-block{
  background-color: $brown;
  color: $dark-blue;
  text-align: right;
  width: 550px;
  height: 550px;
  position: relative;
  left: 25%;
  top: 0;
  .transparent-block{
    background-color: $transparent-white;
    width: 480px;
    height: 550px;
    position: absolute;
    bottom: -150px;
    right: -100px;
  }
  .white-block{
    background-color: $white;
    width: 480px;
    height: 550px;
    position: absolute;
    bottom: -130px;
    right: -120px;
    z-index: 1;
    box-shadow: 0 0 1.2px $gray;
    .triangle{
      position: absolute;
      display: inline-block;
      left: -296px;
      top: -37px;
    }
    h2 {
      position: absolute;
      left: -155px;
      // top: -50px;
      // writing-mode: vertical-rl;
      // text-orientation: upright;
      // letter-spacing: -5px;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-position: under;
      // font-family: 'Noto Serif', serif;
      font-weight: 400;
      color: $dark-blue;
      font-size: 42px;
    }

    h5{
      font-size: 18px;
      text-align: left;
      padding: 60px 30px 10px 30px;
    }
  }
}
