@import './_colors.scss';
@import './_media.scss';

.about--brown-block{
  background-color: $brown;
  color: $dark-blue;
  text-align: right;
  width: 550px;
  height: 550px;
  position: relative;
  left: 25%;
  top: 0;
  @include mobile{
    width: 90%;
    right: 0;
    left: 10%;
  }

  .blocks-container{
    width: 450px;
    // height: 550px;
    right: -8vw;
    top: 15vh;
    position: absolute;
    z-index: 1;
    @include mobile{
      width: 90vw;
      left: -10vw;
      height: 680px;
      top: 15vh;
      h2{
        top: -60px;
        right: 5vw;
      }
    }
    h2 {
      position: absolute;
      left: -150px;
      // text-decoration: underline;
      // text-decoration-thickness: 2px;
      // text-underline-position: under;
      font-weight: 400;
      color: $dark-blue;
      font-size: 42px;
    }

    .white-block{
      font-size: 18px;
      text-align: left;
      padding: 60px 30px;
      background-color: rgba(249, 249, 242, 0.9);
      box-shadow: 0 0 10px $brown;
    }
  }
}
