@import './_colors.scss';
@import './_media.scss';

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; // for footer
  // min-height: 100vh;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding-top: 60px;
  // justify-content: center;
}
.title{
  position: relative;
  .blocks{
    display: flex;
    align-items: flex-end;
    > * {
      width: 120px;
      @include mobile{
        width: 90px;
      }
    }
  }
  .title-name{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    text-align: center;
  }
}
.form{
  width: 480px;
  height: 450px;
  margin: 0 auto;
  background-color: $brown;
  border-radius: 0 0 5px 5px;
  @include mobile{
    width: 360px;
    height: 430px;
  }
  form{
    width: 350px;
    margin: 30px auto;
    @include mobile{
      width: 280px;
      margin: 20px auto;
    }

    > * {
      display: inline-block;
      width: 100%;
      min-height: 30px;
      border-radius: 5px;
      border: none;
      padding-left: 5px;
    }

    label{
      margin: 10px 0 0 0;
      text-align: left;
      font-size: 16px;
    }

    textarea{
      height: 100px;
    }

    button{
      margin-top: 30px;
      background-color: $white;
      color: $blue;
      padding: 10px;
      cursor: pointer;
      &:hover{
         background-color: $blue;
         color: $white;
      }
    }
  }
}

.contact-container{
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    p{
      color: $blue;
      font-weight: 300;
      font-size: 20px;
    }
    svg{
      width: 28px;
      font-size: 30px;
      color: $blue;
      margin: 20px;
      &:hover{
         color: $dark-blue;
      }
    }
  }
}
