@import './_colors.scss';

body {
  overflow-x: scroll;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  background-color: $background-brown;
}

h2, h3, h4, h5 {
  margin: 0;
  font-weight: 300;
}
h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Noto Serif', serif;
}

h2 {
  font-size: 50px;
}
h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size:20px;
}
