@import './_colors.scss';


.landing-container{
  height: 100%;
  width: 100%;
}
.landing--brown-block{
  background-color: $brown;
  color: $dark-blue;
  text-align: right;
  width: 550px;
  height: calc(100vh - 170px);
  position: relative;
  left: 30%;
  top: 120px;
  .text{
    padding-top: 150px;
    padding-right: 80px;
    h4 {
      color: $background-brown;
      margin: 20px 0;
    }
    h5{
      margin: 20px 0;
    }
  }
  .profile-pic{
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: $dark-blue;
    top: 90px;
    left: -150px;
  }

  .dark-blue-block{
    position: absolute;
    width: 240px;
    height: 450px;
    background-color: $blue;
    top: -100px;
    left: -110px;
  }

  .blue-block{
    position: absolute;
    width: 250px;
    height: 520px;
    background-color: $light-blue;
    top: 30px;
    left: -200px;
  }
}
