@import './_colors.scss';

.landing-container{
  height: 100%;
}
.landing--brown-block{
  background-color: $brown;
  color: $dark-blue;
  text-align: right;
  width: 550px;
  height: 600px;
  margin-left: 390px;
  .text{
    padding-top: 150px;
    padding-right: 100px;
    h4 {
      color: $background-brown;
      margin: 20px 0;
    }
    h5{
      margin: 20px 0;
    }
  }
}
