@import './_colors.scss';



.landing-container{
  height: 100%;
  width: 100%;
}
.landing--brown-block{
  background-color: $brown;
  color: $dark-blue;
  text-align: right;
  width: 550px;
  height: calc(100vh - 170px);
  position: relative;
  left: 30%;
  top: 120px;
  .text{
    padding-top: 150px;
    padding-right: 80px;
    h4 {
      // color: $blue;
      margin: 20px 0;
    }
    h5{
      margin: 20px 0;
    }
  }
  .profile-pic{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    top: 130px;
    left: -100px;
    background-color: rgba(105, 139, 152, 0.5);
    background-position: 50% 50%;
    background-size: cover;
  }

  .dark-blue-block{
    position: absolute;
    width: 240px;
    height: 400px;
    background-color: $blue;
    top: -80px;
    left: -80px;
  }

  .blue-block{
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: $light-blue;
    top: 30px;
    left: -200px;
  }
}
