@import './_colors.scss';

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  color: $blue;

  &.active .icons{
    margin-right: 70px;

    .hamburger{
      transition: all 1s ease;
      opacity: 0;
    }

    .exit{
      transition: all 1s ease;
      opacity: 1;
    }
  }

  .logo{
    margin: 5px 20px;
    a {
      text-decoration: none;
      color: $blue;
      font-size: 20px;
      font-weight: 400;
      font-family: 'Noto Serif', serif;
    }
  }

  .icons{
    transition: all 1.8s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    > *{
      margin-right: 20px;
    }

    .exit{
      transition: all 1s ease;
      opacity: 0;
    }

    svg{
      width: 28px;
      height: 30px;
      font-size: 25px;
      color: $blue;
      cursor: pointer;

      &:hover{
          color: $dark-blue;
      }
    }

    .hamburger{
      transition: all 1s ease;
      height: 30px;

      > *{
        width: 24px;
        border-radius: 3px;
        background-color: $blue;
        height: 3px;
        margin: 5px;
      }

      &:hover .bar{
        background-color: $dark-blue;
      }
    }
  }
}
