@import './_colors.scss';

.project-index-container{
    text-align: center;
    padding-top: 60px;
    h2{
      font-size: 42px;
      font-weight: 400;
    }
    .filter{
      display: flex;
      justify-content: center;
      align-items: center;
      > *{
        margin: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px;
      }
      .project-list-item.active{
        background-color: $brown;
        color: white;
      }
    }
}

.project-cards-container{
  overflow: scroll;
  width: 75%;
  margin: 15px auto;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 15px;
  .project-card{
    width: 300px;
    height: 280px;
    border-radius: 10px;
    background-color: rgba(249, 249, 242, 0.3);
    cursor: pointer;
    color: $blue;
    &:hover{
      // opacity: 80%;
      background-color: $blue;
      z-index: 3;
      transform: scale(1.02);
      transition: all 1s ease;
      .photo{

      }
      .icons{
        color: white;
      }
      h5{
        transition: all 0s ease;
        color: white;
      }
    }
    .photo{
      height: 80%;
      width: 100%;
      border-radius: 10px;
      background-position: 10% 10%;
      background-size: cover;
    }
    .icons{
      color: $blue;
      font-size: 18px;
      > * {
        margin: 5px 5px;
      }
    }
    h5{
      margin-top: 5px;
    }
  }
}
