@import './_colors.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.photo-desktop {
  // height: 100%;
  // width: 100%;
  // width: 700px;
  // height: 560px;
    width: 672px;
    height: 537.6px;
  margin: -10% auto 20px auto;
  border-radius: 10px;
  background-size: cover;
}

.photo-mobile {
  // width: 150px;
  // height: 280px;
  width: 260px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-size: cover;
}

.preview-container{
  margin-top: 10vh;
  // height: 80vh;
}
// .left-container{
//   height: 100vh;
//   // position: sticky;
//   // top: 15px;
// }

.left-landing-container{
  height: 100vh;
}
.right-container{
  height: auto;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 20vh;
  // width: 80%;
  // margin: 0 auto;
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  h3{
    font-size: 25px;
  }
}

.content-container{
  margin: 20px;
  h3{
    margin: 10px 0px 5px 0px;
  }
  h5{
    margin-left: 15px;
  }
}

.project-landing-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  h2{
    font-size: 46px;
  }
  h5 {
    line-height: 1.4;
  }
}

.introduction-container{
  min-height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 20px;
}

.introduction-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
      padding: 8px;
      background-color: $blue;
      color: $white;
      text-decoration: none;
      font-size: 15px;
      margin: 10px;
      border-radius: 10px;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
}

.team-container{
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  > * {
    margin: 10px 20px 10px 0px;
  }
}

.features-container{
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}
.left-container .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: $blue;
  margin: 20px auto;
  i {
    margin-right: 5px;
  }
}
