@import './_colors.scss';

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: $sidebar-white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  ul {
    margin-top: 40vh;

    li {
      list-style-type: none;
      height: 50px;
      a {
        text-decoration: none;
        color: $blue;
        font-size: 20px;
        &:hover{
          color: $dark-blue;
        }
      }
    }
  }
}
